@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');

/* Center the section heading */
#certification h1 {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 2.8em;
    font-family: "Sen", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/* Certification content container */
.certification-content {
    display: flex;
    justify-content: center;
    gap: 150px;
    align-items: flex-start;
    padding: 20px;
}

/* Individual certification items */
.cert-item {
    text-align: center;
    max-width: 300px;
}

/* Certification icons */
.cert-icon {
    width: 180px;
    height: auto;
    margin-bottom: 10px;
}

/* Certification text */
.cert-item p {
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
}

@media (max-width: 768px) and (min-width: 426px){
    #certification h1{
        font-size: 2em;
    }
    .certification-content {
        justify-self: center;
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 426px) and (min-width: 376px) {
    #certification h1{
        font-size: 2em;
    }
    .certification-content {
        justify-self: center;
        flex-direction: column;
        gap: 20px;
    }
}