@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

html{
    scroll-behavior: smooth;
}
* {
    --header-height: 4rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 16px hsla(230, 75%, 32%, 0.15);
    z-index: 100;
    background: rgba(17, 47, 94, 0.15);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--header-height);


    span{
        font-family: "Comfortaa", sans-serif;
        font-weight: bold;
        font-size: 1.8em;
        color: black;
        span:nth-child(1) {
            color: green;
        }
        span:nth-child(2) {
            color: orange;
        }
    }
}

.nav {
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo Section */
.nav__logo {
    display: flex;
    align-items: center;
    gap: 0.5rem; /* Space between logo image and text */
    text-decoration: none;
}

.nav__logo img {
    width: 35px; /* Adjust logo image size */
    height: 35px;
}

.nav__logo span {
    color: var(--title-color);
    font-size: 1.2rem;
}

/* Navigation Links */
.nav__menu {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.nav__link {
    color: var(--title-color);
    text-decoration: none;
    transition: color 0.9s;
}

.nav__link:hover {
}

/* Toggle Button */
.nav__toggle {
    display: none;
    font-size: 1.5rem;
    color: var(--title-color);
    cursor: pointer;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .nav__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        flex-direction: column;
        gap: 2rem;
        padding: 4rem 1rem;
        box-shadow: 0 8px 16px hsla(230, 75%, 32%, 0.15);
        text-align: center;
        transition: top 0.3s;
    }

    .nav__menu.show-menu {
        top: var(--header-height);
        background: rgba(244, 245, 248, 0.41);
        backdrop-filter: blur(5px);
    }

    .nav__toggle {
        display: block;
    }
}



/* Body styling */
body {
    background-color: #ffffff;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
}

/* Logo container */
.logo-container {
    display: flex;
    align-items: center;
}

/* Logo styling */
header img {
    width: 50px;
    aspect-ratio: 1/1;
}

nav li {
    display: inline-block;
}

nav a {
    font-family: "Comfortaa", sans-serif;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    position: relative;
    display: inline-block;
}
#nav-menu a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #2a9fff;
    left: 0;
    bottom: -2px; /* Adjust distance between text and line */
    transition: width 0.4s ease-in-out;
}

#nav-menu a:hover::after {
    width: 100%;
}

/* Responsive styling for smaller screens */
@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    header{
        background: rgba(153, 155, 164, 0.58) !important;
        backdrop-filter: none !important;
    }

    nav ul {
        position: absolute;
        top: 7vh;
        right: 0;
        background-color: rgb(255, 255, 255);
        backdrop-filter: blur(5px);
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 100%;
        height: 0;
        overflow: hidden;
        transition: height 0.3s ease;
    }

    nav ul.show {
        height: 50vh;
    }

    nav li {
        margin: 1rem 0;
    }
}

.hero {
    padding-top: 12vh; /* Adjusted padding-top to ensure hero content is below the header */
    width: 100vw;
    overflow: hidden;
}




.slider {
    width: 100vw;
    height: 85vh;
    position: relative;
    overflow: hidden;
}

.list {
    display: flex;
    transition: left 0.5s ease;
    position: relative;
    width: 100%;
}

.slides > img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    filter: brightness(0.5);
}

.button {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.button > button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    color: #fff;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.dots {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    margin-top: 6em;
}

.dots li {
    width: 10px;
    height: 10px;
    margin: 5px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;

}

.dots li.active {
    width: 30px;
}

.content {
    position: absolute;
    color: white;
    text-align: center;
    z-index: 10;
    width: 80%;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content > h4 {
    font-family: "Kaushan Script", cursive;
    padding: 35px;
    font-size: 2.9em;
    font-weight: 800;
    letter-spacing: 2px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}

.content > p {
    font-weight: 400;
    font-size: 1.4em;
    line-height: 1.6;
    letter-spacing: 0.5px;
    padding: 0 10px;
    margin-top: -1em;
    font-family: "Sen", sans-serif;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}


@media (max-width: 1024px) and (min-width: 769px){

    nav ul{
        margin-left: 12em;
    }

    .slider {
        height: 70vh;
    }

    .slides > img {
        height: 70vh;
    }

    .content > h4 {
        font-size: 2em;
    }

    .content > p {
        font-size: 1em;
    }

    .button > button {
        width: 35px;
        height: 35px;
        font-size: 1.2rem;
    }
    .content {
        position: absolute;
        color: white;
        text-align: center;
        z-index: 10;
        width: 80%;
        top: 37%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 768px) and (min-width: 426px){
    .content > h4 {
        font-size: 1.5em;
    }

    .content > p {
        font-size: 1em;
    }

    .dots li {
        width: 8px;
        height: 8px;
        display: none;
    }

    .dots li.active {
        width: 20px;
    }
    .button > button {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        color: #fff;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .dots {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        list-style: none;
        left: 50%;
        z-index: 10;
        transform: translate(-50%, -50%);
        margin-top: 2em;
    }

}

@media (max-width: 426px) and (min-width: 376px) {

    .content > h4 {
        font-size: 1.2em;
    }

    .content > p {
        font-size: 0.9em;
    }

    .button > button {
        width: 30px;
        height: 30px;
        font-size: 1rem;
    }
    .button > button {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        color: #fff;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .dots {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        list-style: none;
        left: 50%;
        z-index: 10;
        transform: translate(-50%, -50%);
        margin-top: 2em;

    }
    .dots li {
        width: 8px;
        height: 8px;
        margin: 5px;
        background-color: white;
        border-radius: 50%;
        cursor: pointer;
        display: none;

    }

    .dots li.active {
        width: 20px;
    }

}

@media (max-width: 376px)and (min-width: 219px){

    .content > h4 {
        font-size: 1.2em;
    }

    .content > p {
        font-size: 0.9em;
    }

    .button > button {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        color: #fff;
        border: none;
        font-size: 1.3rem;
        cursor: pointer;
    }

    .dots {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        list-style: none;
        left: 50%;
        z-index: 10;
        transform: translate(-50%, -50%);
        margin-top: 1em;
    }
    .dots li {
        width: 8px;
        height: 8px;
        margin: 5px;
        background-color: white;
        border-radius: 50%;
        cursor: pointer;
        display: none;

    }

    .dots li.active {
        width: 20px;
    }
}