.mapSec {
    display: flex;
    justify-content: center; /* Centers the items horizontally */
    align-items: center;     /* Centers the items vertically */
    gap: 1em;
    width: 100%;             /* Makes .mapSec take full width */
    margin: 0px    ;          /* Centers .mapSec within its parent container */
}

#map{
    background: rgba(238, 238, 238, 0.6);

}

.box {

    max-width: 700px;

}

.box h1 {
    font-size: 3em;
    display: flex;
    font-family: "Sen", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.box p {
    font-size: 1em;
}

#map iframe {
    margin: 50px  0 50px 0;
    border-radius: 2em;
    border: none;
    width: 400px;
    height: 400px;
    opacity: 0.8;
    transition: transform 0.3s, opacity 0.3s; /* Smooth transition for hover effects */
}

#map iframe:hover {
    transform: scale(1.1);
    opacity: 1;
}
@media (max-width: 1024px) and (min-width: 769px){
    .box{
        width: 450px;
    }
    .box h1{
        font-size: 2.5em;
    }
}
@media (max-width: 768px) and (min-width: 426px){
    .mapSec {
        flex-direction: column;
        margin: 0 auto;
    }
    .box h1{
        font-size: 2em;
        justify-content: center;
    }
    .box p {
        font-size: 1em;
        text-align: center;
    }
    #map iframe{
        width: 400px;
        height: 400px;
    }
}
@media (max-width: 426px) and (min-width: 375px){
    .mapSec {
        flex-direction: column;
        margin: 0 auto;
    }

    .box h1{
        font-size: 2em;
        justify-content: center;
    }
    .box p {
        font-size: 1em;
        text-align: center;
    }
    #map iframe{
        width: 350px;
        height: 350px;
    }
}
@media (max-width: 376px)and (min-width: 219px){
    .mapSec {
        flex-direction: column;
        margin: 0 auto;
    }

    .box h1{
        font-size: 2em;
        justify-content: center;
    }
    .box p {
        font-size: 1em;
        text-align: center;
    }
    #map iframe{
        width: 300px;
        height: 300px;
    }
}