@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800");
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.hr1 {
    border: none; /* Removes the default styling */
    height: 3px; /* Sets the thickness of the line */
    background-color: rgba(255, 60, 0, 0.68); /* Sets the color of the line */
    margin: 0px 0; /* Optional: Adds space around the line */
    margin-top: 0em;
}

.img{

    background-image: url("../images/img_6.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center; /* Centers the image horizontally and vertically */
    background-repeat: no-repeat;
    width: 100%;
}

.reviews {
    font-family: Arial, sans-serif;
    /*
    background: linear-gradient(to bottom, rgba(238, 231, 220, 0.21), rgba(253, 196, 53, 0.88));
    */
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    background-image: url("../images/img_5.png");
    background-size: cover;
}

.video-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 40px;
    max-width: 1100px;
    width: 100%;
}
.container2 {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.video-item {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns within each video item */
    padding: 10px;
    border-radius: 8px;
    gap: 10em;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    transition: transform 0.5s ease;
}

/* Styling for the text information */
.video-info {
    display: flex;
    flex-direction: column;
}

.video-title {
    font-weight: bold;
    font-size: 2em;
    margin: 0;
}

.video-description {
    font-size: 1.5em;
    color: #333;
    margin-top: 5px;
    width: 15em;
}

.info1{
    margin-left: 1em;
}

.video-item {
    position: relative;
}


/* Styling for the thumbnail */
.video-thumbnail {
    width: 31em;
    height: 20em;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;

}

.video-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-item:hover{
    transform: scale(1.07);
}

iframe {
    width: 500px; /* Set the desired width */
    height: 325px; /* Set the desired height */
    border: none; /* Optional: Remove the border */
}

@media (max-width: 1024px) and (min-width: 769px){

    .video-thumbnail {
        margin-bottom: 1rem;
    }

    .video-title {
        font-size: 1.5em;
    }

    .video-description {
        font-size: 1em;
    }

    iframe {
        width: 450px; /* Set the desired width */
        height: 325px; /* Set the desired height */
        border: none; /* Optional: Remove the border */
    }
    .video-thumbnail {
        width: 28em;
        height: 20em;
        background-color: #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.5s ease;
    }
}

@media (max-width: 930px) and (min-width: 769px){
    .video-item {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 0em;
    }
    .video-description {
        font-size: 1.2em;
        color: #333;
        margin-top: 5px;
        margin-left: 4em;
    }
    .video-title {
        font-size: 1.5em;
    }
}

@media (max-width: 768px) and (min-width: 426px){
    .video-item {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 0em;
    }
    .video-description {
        font-size: 1.2em;
        color: #333;
        margin-top: 5px;
        margin-left: 2em;
    }
    .video-title {
        font-size: 1.4em;
    }
    iframe {
        width: 350px; /* Set the desired width */
        height: 300px; /* Set the desired height */
        border: none; /* Optional: Remove the border */
    }
    .video-thumbnail {
        width: 22em;
        height: 19em;
        background-color: #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.5s ease;
    }
}

@media (max-width: 426px) and (min-width: 376px) {
    .video-item {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 1em;
    }
    .video-description {
        font-size: 1.2em;
        color: #333;
        margin-top: 5px;
        margin-left: 1em;
    }
    .video-title {
        font-size: 1.4em;
    }
    iframe {
        width: 350px; /* Set the desired width */
        height: 300px; /* Set the desired height */
        border: none; /* Optional: Remove the border */
    }
    .video-thumbnail {
        width: 22em;
        height: 19em;
        background-color: #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.5s ease;
    }
}

@media (max-width: 376px)and (min-width: 219px){
    .video-item {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 1em;
    }
    .video-description {
        font-size: 1em;
        color: #333;
        margin-top: 5px;
        margin-left: 0em;
    }
    .video-title {
        font-size: 1.2em;
    }
    iframe {
        width: 260px; /* Set the desired width */
        height: 280px; /* Set the desired height */
        border: none; /* Optional: Remove the border */
    }
    .video-thumbnail {
        width: 16em;
        height: 17em;
        background-color: #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.5s ease;
    }
}

